<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">


    <servlet>
        <servlet-name>MailSmtpTester</servlet-name>
        <servlet-class>com.purplehillsbooks.posthoc.PostHocServlet</servlet-class>
        <load-on-startup>5</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>MailPopTester</servlet-name>
        <servlet-class>com.purplehillsbooks.posthoc.SendMailServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>MailSmtpTester</servlet-name>
        <url-pattern>/servlet/*</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>MailPopTester</servlet-name>
        <url-pattern>/servlet/send</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>list.jsp</welcome-file>
    </welcome-file-list>

</web-app>
